extends layout

block content

    unless message===undefined
        - console.log(message)
        script(src="https://cdn.jsdelivr.net/npm/sweetalert2@7.26.9/dist/sweetalert2.all.min.js")
        script.
            var msg = !{JSON.stringify(message)};
            Swal(msg);

    h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='name') Album:
            input#name.form-control(type='text', placeholder="Album name" name="name" value=(undefined===album ? '' : album.name))
            br
            label(for='artist') Artist:
            input#artist.form-control(type='text', placeholder="Artist name" name="artist" value=(undefined===album ? '' : album.artist))
            br
        button.btn.btn-primary(type='submit') Submit
    
    hr

    if errors 
        ul
          for error in errors
            li!= error.msg